.hero1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero1-image {
  flex: 1;
  width: 393px;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
}

@media(max-width: 767px) {
  .hero1-heading1 {
    text-align: center;
  }
  .hero1-content1 {
    text-align: center;
  }
  .hero1-actions {
    width: 100%;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .hero1-actions {
    flex-direction: column;
  }
  .hero1-button {
    width: 100%;
  }
  .hero1-button1 {
    width: 100%;
  }
}
